.fondo{
    height: 800px;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: -100px;
    
    animation-duration:2.5s ;
    animation-iteration-count: 1; 
    animation-timing-function: ease-in-out;
    margin: 0;
    
}

.right{
    left: 100%;
    /*background-image: url("imagenes/Día 1 - Latacunga 2018 (28).JPG"); Posición 1 en el array*/
}

.left{
    right: 100%;
    /*background-image: url("imagenes/bucay.jpeg"); Posición n-1 en el array*/

}

.btt{
    z-index: 50;
    display: inline-block;
    position: absolute;
    top: 50%;
    height: 85px;
   width:  80px;
}
.bttIzquierda{
   left: 15%;
   background-image:  url("imagenes/flechas-02.png");
   
}
.bttDerecha{
    right:15%;
    background-image:  url("imagenes/flechas-01.png");
  
}
.btt:hover{
    color: red;
}
@keyframes desplazarse3{
    1%{
        left: 0px;
    }100%{
        left:100%;
        display: none;
    }
}
@keyframes desplazarse4{
    1%{
        right: 100%;
    }100%{
        right: 0px;
    }
}

@keyframes desplazarse2{
    1%{
       left:100%;
    }   
    100%{
        left:0px;
    }
}

@keyframes desplazarse{
    1%{
       right:0px;
    }   
    100%{
        right:100%;
        display: none;
    }
}


.contenedor{
   display: inline-block;

   z-index: 1;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
}